<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    <ul>
      {% for item in site.data.publications.list %}
        <li>
          <p>
            <a href="{{ item.url }}">{{ item.name }}({{ item.Year }})</a>
            <em>{{ item.Authors }}</em>
            <br>
            <strong>Journal:</strong> {{ item.Journal-pages }}
            <br>
            <strong>DOI:</strong> {{ item.DOI }}
          </p>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
            
       

