<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    <br>
    <h3>here a list of publications in my academic career, from physics to AI.</h3>
    <br><br>
    <ul>
      {% for item in site.data.publications.list %}
        <li>
          <p>
            {{ item.title }}, 
            <em>{{ item.Authors }}</em>
            <br>
            <strong>Journal:</strong> {{ item.Journal-pages }}, {{item.publicationdate}}
            <br>
            <strong><a href="{{ item.doi }}">DOI:</strong> {{ item.DOI }} </a>
          </p>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
            
<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">News</h3>
    <br>
    <h3>here a list of papers in various journals</h3>
    <br><br>
    <ul>
      {% for item in site.data.publications.newsletter %}
        <li>
          <p>
            <strong><a href="{{ item.Link }}">{{item.title}}</a> </strong> - {{item.page}}
          </p>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

