<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    <ul>
      {% for item in site.data.publications.list %}
        <li>
          <p>
            {{ item.title }}({{ item.Year }})
            <em>{{ item.Authors }}</em>
            <br>
            <strong>Journal:</strong> {{ item.Journal-pages }}, {{item.publicationdate}}
            <br>
            <strong><a href="{{ item.doi }}">DOI:</strong> {{ item.DOI }} </a>
          </p>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
            
       

