---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    {{ content }}
  </div>
  <div class="col-md-6">
    <!--img src="assets/img/avatar_001.jpg" alt="Image" width= "55%"!-->
    <img src="assets/xmas_flavour/FinalImages.png" alt="Image" width= "55%">
  </div>


<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Latest post</h3>
    {% for post in site.posts limit:4 %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
